log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.DS_Store
.vscode/
*.code-workspace
*.log
*.tsbuildinfo
*.localhistory/

dlresources/
node_modules/
bin/
out/
dist/
vanilla_data/
lib/
build/
*.tgz
.openpublishing.buildcore.ps1